body, html {
  margin: 0;
  padding: 0;
 /* background: linear-gradient(45deg, #ffcc99, #ffffcc, #99ff99, #cc99ff, #99ccff, #ff99cc);
  background-size: 300%;
  animation: changeColor 10s linear infinite alternate;*/
  background-color: #0178FE;
  
  
}
*{
  color: white;
}
  
@keyframes changeColor {
  0% {
    background-position:  0%;
  }
  20% {
    background-position:  20%;
  }
  40% {
    background-position:  40%;
  }
  60% {
    background-position:  60%;
  }
  80% {
    background-position:  80%;
  }
  100% {
    background-position:  100%;
  }

}

 

body{
  font-family: "Space Grotesk", sans-serif;
 
 

}